.lv1>ul>li>ul,
.lv1>ul>li svg {
    display: none !important;
}

.lv2 ul {
    opacity: 0 !important;
    pointer-events: none;
}

.lv2>li:hover>ul,
.lv2>li>ul>li:hover>ul {
    opacity: 1 !important;
    pointer-events: all !important;
}